<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Django Maksym's blog</title>
</head>
<body>
	<div>
		<h1><a href="">Django Maksym's blog</a></h1>
	</div>
	<div>
		<p>published: 07.02.2017</p>
		<h2><a href="">My first post</a></h2>
		<p>fjlksjalkfjlkasjlfjfals;jfllfjlkajslkdfjlksajdflkjslakjdflkjsdljflksdjlfjlsdjlfk
			fjlskdjflkjslkdjflkjslkdjflkjsdkljflksjdlkfjlksdjlkfjsla;fjl;asjfdl;jsldjflsjdlf
			jflskdjfl;jlfjsld;f.
		</p>
	</div>
	<div>
		<p>published: 05.02.2017</p>
		<h2><a href="">My second post</a></h2>
		<p>fjlskdjfljlsdfjlksdjlkffjlkdsjflkjlskdjlkjflksadjlfkjlsdjfljsldjflsjdlkjflksdjflk
			jflsdjlfjlksdjfljsdlkfjlksjdfalkjfljsdlkjflsdjlfjsldkjflkjsdl;fjljls;djfl;jsdlfj
			lfjsdlfjsld.
		</p>
	</div>
</body>
</html>